.sheet-ligne
  .sheet-libel2(style="width: 80px; margin-right: 50px;") Combat
  span.sheet-infoDesc Bonus aux jets de combat
  input.sheet-inpnum2c(type="number", name="attr_bonusCombat", value='0')

.sheet-ligne(style="text-align: left; margin-bottom: 10px;")
  .sheet-mycol(style="margin-right: 30px;")
    button.sheet-btRoll8.sheet-btMid(
      type='roll'
      name='roll_testinit'
      style="width: 90px;"
      value='&{template:jet} {{characterName=@{character_name}}} {{rollname=Jet d’Initiative}} {{rollResult1=[[@{initiative}+@{niveau} &{tracker}]]}}'
    ) Initiative
    input(type="text", name="attr_initiative", style="width: 45px; text-align: center;", value='1d8')
    span.sheet-infoDesc +Niv
  
  .sheet-mycol(style="margin-right: 30px;")
    button.sheet-btRoll20niv.sheet-btMid(
      type='roll'
      name='roll_testtruc'
      style="width: 140px;"
      value='&{template:jet} {{characterName=@{character_name}}} {{rollname=Truc de combat}} {{carac=[[?{Carac|Vigueur,@{vig}|Dextérité,@{dex}|Intelligence,@{int}|Charisme,@{cha}}]]}} {{rollResult1=[[1d20+@{niveau}[Niveau]+@{bonusCombat}[Bonus de combat]]]}} {{rollResult2=[[1d20+@{niveau}[Niveau]+@{bonusCombat}[Bonus de combat]]]}}'
    ) Truc de combat
  
  .sheet-mycol
    .sheet-libel1(style="width: 50px; margin-right: 5px;") Vitesse
    input.sheet-inpnum2c(type="number", name="attr_mvt", value='6')
    span.sheet-infoDesc pas
  
  .sheet-mycol
    .sheet-libeldesc(style="text-align: left; display: block;") Moitié : +1 attaque ou Déf
    .sheet-libeldesc(style="text-align: left; display: block;") Double : -2 Déf
  

.sheet-ligne
  span.sheet-infoDesc(style="margin-right: 192px;") Arme
  span.sheet-infoDesc(style="margin-right: 5px;") Bonus
  span.sheet-infoDesc(style="margin-right: 53px;") Dégâts
  span.sheet-infoDesc Description

.sheet-ligne
  fieldset.repeating_inventory
    button.sheet-btRoll20niv.sheet-btBig(
      type='roll'
      name='roll_testcombat1'
      style="width: 25px; padding: 2px 2px 0 2px;"
      value='&{template:jet} {{characterName=@{character_name}}} {{arme=@{invArme1}}} {{rollResult1=[[1d20[D20]+@{niveau}[Niveau]+@{bonusCombat}[Bonus de combat]+@{bonusArme1}[Bonus arme]]]}} {{rollResult2=[[1d20[D20]+@{niveau}[Niveau]+@{bonusCombat}[Bonus de combat]+@{bonusArme1}[Bonus arme]]]}} {{coup=[[@{dmgArme1}]]}} {{desdegats=@{dmgArme1}}} {{tRollDesc=@{armDesc1}}}'
    )
    input.sheet-biginp(type="text", name="attr_invArme1", style="width: 195px;", placeholder="Arme/Attaque")
    input.sheet-inpnum2c(type="number", name="attr_bonusArme1", style="border: 1px solid;", value="0", title="Bonus à l’attaque", min="0")
    input(type="text", name="attr_dmgArme1", style="width: 100px; text-align: center;", placeholder="1d8", title="Dés de dégâts")
    input(type="text", name="attr_armDesc1", style="width: 445px;", placeholder="Description")
