-
  const fieldDictionary = (fields, removePrefix='') => {
    return fields.reduce((memo, val) => {
      const key = removePrefix ? val.name.replace(`${removePrefix}_`, '') : val.name;
      memo[key] = structuredClone(val);
      return memo
    }, {});
  }

mixin hidden_attr(field, value)
  input(name=field, value=value, type="hidden")

mixin display-value(blob)
  - const attr = `attr_${blob.name}`;
  - const default_class = blob.css ? blob.css : ''
  p(class=default_class)
    if blob.icon
      img(class='default-icon', src=blob.icon alt='')
    if blob.type
      case blob.type
        when 'roll'
          button(type=blob.type, name=attr, title=blob.title, value=blob.value)= blob.label ? blob.label : ''
        default
          if blob.label
            strong= blob.label
          input(type=blob.type, name=attr, title=blob.title)
    else
      if blob.label
        strong= blob.label
      span(name=attr, title=blob.title)
    if blob.suffix
      span()= blob.suffix

mixin display-input(blob)
  - const attr = `attr_${blob.name}`;
  - const default_value = blob.value ? blob.value : ''
  if blob.label
    label= blob.label
  case blob.type
    when 'textarea'
      textarea(name=attr)
    when 'checkbox'
      input(type=blob.type, name=attr)
    when 'number'
    when 'text'
    default
      input(type=blob.type, name=attr, value=default_value)